In [1]:
from pygoogalytics.client import client_from_key_file

In [2]:
c = client_from_key_file('/Users/joshua/Python_blink/localpenguin_secrets/googleapi_key.json')

In [3]:
c

PyGoogalytics Client object:
{
  "gsc_resource": "<googleapiclient.discovery.Resource object at 0x11c1ef670>",
  "ga3_resource": "<googleapiclient.discovery.Resource object at 0x11c1ef130>",
  "ga4_data_client": "<google.analytics.data_v1beta.services.beta_analytics_data.client.BetaAnalyticsDataClient object at 0x11c17bfd0>"
}

In [4]:
w = c.wrapper(sc_domain='https://www.charming-beads.co.uk/', view_id='44006769')

In [7]:
d = w.available_dates

In [8]:
d.keys()

dict_keys(['GA3', 'GA4', 'GSC'])

In [9]:
import datetime

In [15]:
n = datetime.datetime.now()

In [16]:
d = datetime.datetime(2023, 2, 20, 10, 0, 0)

In [21]:
(n-d).seconds > 3600

True

In [ ]:
def test_time(t: datetime.datetime, seconds: float) -> bool:
    if not isinstance(t, datetime.datetime):
        return None
    _diff = (datetime.datetime.now() - t).seconds
    if _diff > seconds:
        return True
    else:
        return False

In [22]:
import pandas as pd

In [24]:
pd.DataFrame(
    {
        'dates': [0, 2, 3, 4, 5],
        'name': 'plop'
    }
)

   dates  name
0      0  plop
1      2  plop
2      3  plop
3      4  plop
4      5  plop

In [26]:
df = pd.DataFrame(([1,2], [3,4]), columns=['dates', 'name'])

In [27]:
df

   dates  name
0      1     2
1      3     4

In [28]:
df.insert(loc=1, column='foo', value='bar')

In [29]:
df

   dates  foo  name
0      1  bar     2
1      3  bar     4

In [32]:
d = [
    {
        'time': datetime.datetime.now(),
        'name': 'joshua'
    }
]

In [33]:
d.append({
    'time': datetime.datetime.now(),
    'name': 'amber'
})

In [58]:
d

[{'time': datetime.datetime(2023, 2, 20, 15, 36, 57, 232517),
  'name': 'joshua'},
 {'time': datetime.datetime(2023, 2, 20, 15, 37, 32, 455120), 'name': 'amber'}]

In [61]:
pd.DataFrame.from_records(d)

                        time    name
0 2023-02-20 15:36:57.232517  joshua
1 2023-02-20 15:37:32.455120   amber

In [51]:
import requests
url = "http://httpbin.org/delay/2"
try:
    r = requests.get(url, timeout=1)
except requests.ReadTimeout as err:
    e: requests.ReadTimeout = err

In [56]:
e.__repr__()

'ReadTimeout(ReadTimeoutError("HTTPConnectionPool(host=\'httpbin.org\', port=80): Read timed out. (read timeout=1)"))'

In [57]:
f"{e}"

"HTTPConnectionPool(host='httpbin.org', port=80): Read timed out. (read timeout=1)"